
.header-container {
  background: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 1rem 1.5rem;
}

.header-logo h1 {
  color: var(--logo);
  font-family: var(--font-display);
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-logo img {
  height: 3rem;
  color: var(--logo);
}

.nav-links {
  display: flex;
  gap:3rem;
  list-style: none;
  font-family: var(--font-heading);
}
.nav-links a {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  color: var(--text-dim);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: var(--logo);
  border-bottom: 2px solid var(--logo);
}

.nav-links a.active {
  color: var(--logo);
  border-bottom: 2px solid var(--logo);
}

